<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/images/reservation.png"
        class="brand-logo"
        alt="brand logo"
      />
      Service Booking Managment Portal
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav" *ngIf="!getLoginStatus()">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            >Customer</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/admin/login"
            routerLinkActive="active"
            >Admin</a
          >
        </li>
      </ul>
      <ul class="navbar-nav" *ngIf="getLoginStatus()">
        <li class="nav-item">
          <a
            class="nav-link"
            (click)="logOut()"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 7rem">
  <router-outlet></router-outlet>
</div>
